<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      COVID-19 India Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-label></ion-label>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <span color="warning" id="confirmed-cases">{{confirmedCases}}</span>
            <br />
            <ion-label>Confirmed Cases</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card color="success">
          <ion-card-header>
            <ion-label></ion-label>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <span color="warning" id="confirmed-cases">{{recovered}}</span>
            <br />
            <ion-label>Recovered</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card color="danger">
          <ion-card-header>
            <ion-label></ion-label>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <span color="warning" id="confirmed-cases">{{deaths}}</span>
            <br />
            <ion-label>Deaths</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label class="ion-margin">Last Updated: </ion-label>
  </ion-toolbar>
</ion-footer>
